/* ----------------GENERAL STYLES------------------ */

.modalDialog { 
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}


/* mobile first styles */

.hideNavButtons {
    display: none;
}

.displayNavButtons {
    display: list-item; 
}

.modalDialog > div {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%); 
    width: 260px;
    border-radius: 10px;
    padding: 46px 26px;
    font-family: var(--main-font);
    font-weight: 800;
    color: black;
    background-color: var(--main-color);
}

.modalDialog h3 {
      font-size: 34px;
      margin-bottom: 30px;
}

#errorMessage {
    color: red;
    margin-bottom: 30px;
}

.modalDialog label, .modalDialog input{
    display: block;
    width: 100%;
    margin-bottom: 15px;

}

.modalDialog input {
    border-radius: 4px;
    border: 1px solid black;
    background-color: var( --hover-color);
}

.modalDialog input[type="button"] {
    margin-top: 45px;
    color: var(--main-color);
    background-color: var(--default-color);
}

.modalDialog input[type="button"]:hover {
    background-color: var(--forth-color);

}

.closeBut {
	background: var(--default-color);
	color: var(--main-color);
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.closeBut:hover { background: var(--forth-color); }

/* desktop styles */
@media all and (min-width: 768px) {
    .modalDialog > div {
        width: 300px;
    }
    
    .displayNavButtons {
        display: inline-block; 
    }
    
 
} /* end of media query*/
