/* ----------------GENERAL STYLES------------------ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');

:root {
    --default-color: #0B0A0A;
    --main-color: #E3A410;
    --hover-color: #F9C87A;
    --secondary-color: #1E1E1E;
    --third-color: #808080;
    --forth-color: #424242;
    --fifth-color: #ffffff;

    --main-font: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--main-color);
}

a {
    color: var(--main-color);
    text-decoration: none;
    outline: none;
    transition: all ease-in-out 500ms;
}

a:hover {
    color: var(--main-color);
}

.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
  }

.section-container {
    display: block;
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

@media all and (min-width: 768px) {
    .section-container {
        padding: 0 60px;
    }
}

/* ----------------NAVIGATION BAR------------------ */

.navigation-bar {
    background: var(--default-color);
    font-weight: 700;
    font-size: 18px;
    padding: 15px 0;
    width: 100%;
    height: 48px;
}

.logo {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
}

.logo span {
    font-weight: 400;
    text-transform: lowercase;
}

.navigation {
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 15;
    background: var(--secondary-color);
    border-bottom-left-radius: 5px;
    font-weight: 400;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}

.navigation li {
    padding: 20px 0;
    text-align: right;
    transition: all ease-in-out 500ms;
}

.navigation li:hover {
    background: var(--forth-color);
}

.navigation li:last-child {
    padding-bottom: 30px;
}

.nav-link {
    text-align: right;
    padding: 0 15px 0 30px;
    transition: all ease-in-out 500ms;
}

#btnLogOut {
    display: none;
}

.nav-link:focus {
    outline: none;
}

.burger-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.burger-menu-open {
    clip-path: circle(150% at top right);
}

.burger-line,
.burger-line::before,
.burger-line::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    margin: 3px 0;
    background: var(--main-color);
    transition: all ease-in-out 500ms;
}

.burger-line::before {
    transform: translateY(6px);
}

.burger-line::after {
    transform: translateY(6px);
}

.open .burger-line {
    transform: translateY(6px) rotate(45deg);
}

.open .burger-line::before {
    opacity: 0;
}

.open .burger-line::after {
    transform: translateY(-5px) rotate(-90deg);
}

@media all and (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .navigation-bar {
        height: 54px;
    }

    .navigation {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        top: 0;
        clip-path: initial;
    }

    .navigation li {
        display: inline-block;
        border: none;
        padding: 0 15px;
    }

    .navigation li:hover {
        background: transparent;
    }

    .navigation li:last-child {
        padding: 0 0 0 15px;
    }

    .logo {
        font-size: 24px;
    }

    .nav-link {
        font-size: 24px;
        font-weight: 600;
        position: relative;
        padding: 0;
    }

    .nav-link::before {
        content: '';
        display: block;
        height: 1px;
        background: var(--main-color);
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }
    .nav-link:hover::before {
        transform: scale(1,1);
    }
}

/* ----------------CAROUSEL SLIDER------------------ */

#slider,
.carousel-container,
.slide-content {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slide-content img {
    width: 100%;
}

.carousel-container {
    position: relative;
}

#chevron_left,
#chevron_right {
    position: absolute;
    top: 50%;
    width: 15px;
    fill: var(--default-color);
    transform: translateY(-50%);
    z-index: 10;
    opacity: .7;
    transition: all ease-in-out 400ms;
}

#chevron_left:hover,
#chevron_right:hover {
    opacity: .3;
}

#chevron_left {
    left: 12px;
}

#chevron_right {
    right: 12px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    animation: fadeIn 500ms ease-in 1 forwards;
}

@media all and (min-width: 768px) {
    #chevron_left,
    #chevron_right {
        width: 30px;
    }

    #chevron_left {
        left: 60px;
    }

    #chevron_right {
        right: 60px;
    }
}

/* ---------------- ADD MOVIE ------------------ */

.add-movie-section {
    background: var(--default-color);
}

.add-btn {
    float: right;
    padding: 15px 0;
    font-size: 21px;
    font-weight: 600;
}

.cls-1 {
    fill:#fff;
    fill-opacity: 0;
    stroke:var(--main-color);
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.cls-2 {
    fill:var(--main-color);
}

.cls-1,
.cls-2 {
    transition: all ease-in-out 400ms;
}

.add-btn:hover {
    color: var(--main-color);
}

.add-btn:hover .cls-1,
.filter-text:hover .cls-1 {
    fill: var(--main-color);
    fill-opacity: 1;
}

.add-btn:hover .cls-2,
.filter-text:hover .cls-2 {
    fill: var(--default-color);
}

.svg-plus {
    display: inline-block;
    vertical-align: middle
}

.svg-plus {
    width: 25px;
}

/* ---------------- SEARCH AND MOVIES ------------------ */

.search-populate-movies {
    background-image: linear-gradient(to right, var(--default-color) 5%, var(--secondary-color) 95%);
    font-size: 0;
    padding: 25px 0;
}

.search-container,
.movie-populate-container {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
}

/* ---------------- SEARCH BLOCK ------------------ */

.search-container {
    width: 100%;
    font-size: 18px;
}

.search-btn-container {
    position: relative;
}

.search-input {
    width: 100%;
    background: rgba(255, 255, 255, .2);
    padding: 5px 10px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--main-color);
}

.search-creteria {
    width: 100%;
}

.search-btn {
    background: none;
    border: none;
    position: absolute;
    color: var(--main-color);
    top: 6px;
    right: 5px;
}

::placeholder {
    color: var(--main-color);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--main-color);
}

::-ms-input-placeholder {
    color: var(--main-color);
}

.search-btn .fa-search {
    height: 20px;
    fill: var(--main-color);
    transition: all ease-in-out 300ms;
}

.search-btn .fa-search:hover {
    transform: scale(1.1);
}

.fa-search path {
    fill: var(--main-color);
}

.filter-text {
    font-size: 21px;
    font-weight: 700;
    padding: 15px 0;
}

.filter-desktop {
    display: none;
}

.filter-mobile {
    display: block;
}

.filter-item {
    font-size: 0;
    padding: 20px 0;
}

.search-checkbox,
.form-check-label,
.search-criteria {
    display: inline-block;
    font-size: 18px;
}

.form-check-label {
    padding: 0 5px;
    position: relative;
}

.search-checkbox {
    opacity: 0;
}

.form-check-label::before {
    content:url("../img/checkbox-unchecked.png");
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
    top: 0;
    left: -20px;
}

.search-checkbox:checked ~ .form-check-label::before {
    content:url("../img/checkbox-checked.png");
}

.filter-item .search-criteria {
    height: 20px;
    width: 30%;
    float: right;
    background: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 5px;
    color: var(--main-color);
    font-size: 14px;
    display: none;
}

.search-checkbox:checked ~ .search-criteria {
    display: inline-block;
}

@media all and (min-width: 768px) {
    .search-container {
        width: 16.66%;
        font-size: 18px;
    }

    .search-input {
        margin-top: 5px;
    }

    .search-btn {
        top: 11px;
    }

    .filter-text {
        font-size: 32px;
        padding: 30px 0;
    }

    .filter-desktop {
        display: block;
    }

    .filter-mobile {
        display: none;
    }
}

/* ---------------- POPULATE MOVIE BLOCK ------------------ */

.movie-populate-container {
    width: 100%;
    font-size: 0;
}

.movie-header-title {
    font-size: 24px;
    font-weight: 700;
}

.site-motto {
    display: none;
}

.movie-header-title span {
    text-transform: lowercase;
    font-weight: 400;
}

.movie-item {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    transition: all ease-in-out 300ms;
}

.movie-item:hover {
    transform: scale(1.02);
}

.movie-item img {
    width: 100%;
    border-radius: 10px;
}

.movie-populate-container .movie-title {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 10px 0;
    text-align: left;
}

@media all and (min-width: 768px) {
    .movie-populate-container {
        width: 83.33%;
        padding-left: 25px;
    }

    .movie-header-title,
    .site-motto {
        display: inline-block;
    }

    .movie-header-title {
        font-size: 48px;
        float: left;
        padding-left: 20px;
    }

    .site-motto {
        font-size: 21px;
        float: right;
        padding-top: 27px;
    }

    .movie-item {
        width: 20%;
        padding: 30px 0 30px 20px;
    }

    .movie-item:hover {
        transform: scale(1.05);
    }
}

/* ---------------- FOOTER ------------------ */

footer {
    background: var(--default-color);
    font-size: 0;
}

.footer-title,
.footer-social,
.footer-copyright {
    display: inline-block;
    font-size: 24px;
    padding: 15px 0;
    width: 100%;
}

.footer-title .logo,
.footer-title p {
    text-align: center;
    float: none;
    padding: 5px 0;
}

.footer-social-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.footer-social svg {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.footer-copyright p {
    text-align: center;
}

.pagination {
    display: block;
    margin: auto;
    width: 50%;
}
  
.pagination a,
.pagination span {
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
    padding: 8px 16px;
    text-decoration: none;
}

@media all and (min-width: 768px) {

}

/* ---------------- MOVIE Details ------------------ */

.movie-details-wrapper {
    font-size: 0;
}

.movie-poster,
.movie-details {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    vertical-align: top;
}

.movie-poster {
    overflow: hidden;    
}

.movie-details {
    padding: 15px 0;
    background-image: linear-gradient(var(--default-color) 5%, var(--secondary-color) 95%);
}

.movie-poster img {
    width: 100%;
}

.section-container-details {
    display: block;
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.title-btns {
    font-size: 0;
}

.title-btns .movie-title {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    width: 80%;
}

.title-btns .btns {
    display: inline-block;
    width: 20%;
    font-size: 16px;
}

.misc-movie-data {
    color: var(--third-color);
    font-weight: 700;
}

.ygt-categories {
    font-size: 0;
    padding: 5px 0 45px;
}

.ygt-categories li {
    font-size: 24px;
    display: inline-block;
    width: 20%;
}

.movie-time {
    float: right;
}
/* 13 martie 2019 */

.movie-info p:first-child {
    font-size: 20px;
    padding-bottom: 10px;
}

.movie-info p:nth-child(2) {
    font-size: 12px;
    padding-bottom: 100px;
}

.movie-type-id {
    display: inline-block;
    width: 30%;
    float: left;
    padding-bottom: 15px;
}

.movie-type-id p:first-child {
    padding-bottom: 20px;
}


.movie-language-country {
    display: inline-block;
    width: 40%;
    float: left;
    text-align: right;
    padding-right: 15px;
}


.movie-language-country p:first-child {
    padding-bottom: 20px;
}

.rating-votes {
    display: inline-block;
    width: 30%;
}

.rating-votes p:first-child {
    margin-bottom: 15px;
    height: 20px;
}

.rating-votes p:nth-child(2) {
    height: 20px;
}


.votes-rating {
    border: solid 1px;
    border-color: var(--main-color);
    font: var(--main-color);
    border-radius: 7px;
    padding-left: 5px;
    color: var(--main-color);
    text-align: center;
}


@media all and (min-width: 768px) {
    .movie-poster,
    .movie-details {
        width: 50%;
    }

    .section-container-details {
        padding: 0 60px;
    }

}


/* de pe local css*/
/*
#picture {
    float: left;
    width: 60%;
    height: 100%;
}

#details {
    float: right;
    width: 40%;
    background-color: black;
    height: 575px;

}

#edit_btn {
    width: 12%;
    float: left;
    margin-top: 3px;
    }

#delete_btn {
    width: 12%;
    margin-top: 3px;

}

#Year {
    color: grey;
    width: 20%;
}

#Genre {
    color: grey;
    width: 20%;
    display: inline-block;
}

#Duration {
    color: grey;
    width: 60%;
    display: inline-block;
}

#movie_details {
    height: 50px;
    margin-left: 10px;
}


#header {
    background-color: black;
    color: orange;
    height: 25px;
    font-size: 24px;
    padding: 12px;
    }

#ratings {
    color:orange;
    margin-left: 10px;
} */
